body {
	font-size: 1.2em;
}
footer {
	padding: 20px 10px;
	color: #ffffff;
}
footer a {
	color: #ffffff;
}

footer a:focus, a:hover {
	color: #E6E6E6;
}

button, .btn, .btn-default {
	color: #ffffff;
	background-color: #500200;
	text-transform: capitalize;
}

.highlight-row {
	background-color: #E4EBED;
}

.highlight-image {
	width: 100%;
	max-height: 120px;
}
.highlight-detail, .highlight-detail a {
	background-color: #0678BC;
	color: white;
}

dt {
	color: #0678BC;
}

.dashed-hr {
	width: 75%;
	margin: 80px auto;
	display: block;
	border-top: 2px dashed #0678BC;
}

.info-row {
  background-color: #F7F7F7;
}

.light-text {
	color: #5aa1b0;
}

footer .small-text {
    font-size: 7pt;
}

.margin-top-zero {
	margin-top: 0;
}
hr {
	padding: 0;
  margin: 0;
  width: 100%;
}
input, button {
    border-radius: 0px !important;
}

.ct-label {
	color: #222a2e;
	font-size: 0.8em;
}

.ct-bar-label {
	font-size: 0.8em;
	font-weight: bold;
  fill: #fff;
/*   text-shadow: 1px 2px #000000; */
}
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 130px;
  background-color: #f5f5f5;
}



/** CUSTOMIZED NAVBAR STYLES **/

.navbar {
    margin-bottom: 0px;
}
.navbar-default {
  background-color: #500200;
  border-color: #500200;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #E6E6E6;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #500200;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #500200;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #500200;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #500200;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #500200;
}
.navbar-default .navbar-toggle {
  border-color: #500200;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #500200;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #500200;
  }
  
  .nav-tabs > li, .nav-pills > li {
	    float:none;
	    display:inline-block;
	}
	
	.nav-tabs {
	    text-align:center;
	}
	  
}