<div class="container">
    <h2>Help</h2>
    <dl>
        <dt>What is our class schedule?</dt>
        <dd>Class begins at 5:50am every school day and ends at 6:40am. If you are not in class by <em>exactly</em> 5:50am you will be counted tardy or absent.</dd>
        
        
        <dt>How can I get makeup credit for an absence?</dt>
        <dd>Make a quote for either the lesson you missed or any of the lessons that we have covered in the current course. Quotes for absences are 1 to 1, meaning 1 quote will makeup for 1 absence.</dd>
        
        <dt>How can I get makeup credit for tardies?</dt>
        <dd>Make a quote for any of the lessons that we have covered in the current course, a scripture, or a talk from General Conference. Quotes for tardies are 5 to 1, meaning 1 quote will makeup for 5 tardies</dd>
        
        <dt>How do I make a quote for a lesson?</dt>
        <dd>Here are the steps for making quotes:
            <ol>
                <li>Read through the lesson and find a relevant quote from a scripture verse referenced in the lesson, or from one of the Prophets quoted in the lesson.</li>
                <li>Go to <a href="http://images.lds.org">images.lds.org</a> and download a relevant image to use as the background to your quote</li>
                <li>
                    <h6>Download a quote app such as Phonto <img height="50px" class="app-icon" src="images/phonto.png"></h6>
                    <a href="https://itunes.apple.com/us/app/phonto-text-on-image/id438429273?mt=8"><img height="40" src="images/appstorebadge.png"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.youthhr.phonto"><img height="40" src="images/googleplaybadge.png"></a>
                </li>
                <li>
                Using Phonto, load the image you downloaded from <a href="http://images.lds.org">images.lds.org</a> as your background image, and paste the quote onto the image. 
                It may take some time to learn  how to use Phonto to correctly position the quote and make it readable. 
                One way to make sure your quote is readable is to give the text a white color, a black 2 pixel stroke (outline color) and a black shadow.
                </li>
            </ol>
        </dd>
    </dl>
</div>