<div class="container" >
    <div class="row">
        <form>
            <div class="form-group">
                <label for="identifyDoctrine">1. Write down a doctrine or principle.</label>
                <textarea id="identifyDoctrine" class="form-control" data-ng-model="lesson.identifyDoctrine"></textarea>
            </div>
            
            <div class="form-group">
                <label for="understandDoctrine">2. Develop your understanding of the principle.</label>
                <div class="small-text">Analyze the meaning of the principle by asking questions and searching for answers.</div>
                <textarea id="understandDoctrine" class="form-control" data-ng-model="lesson.understandDoctrine"></textarea>
            </div>
            
            <div class="form-group">
                <label for="importanceOfDoctrine">3. Seek to feel the truth and importance of the principle.</label>
                <div class="small-text">Reflect on the impact the principle has had in your life or in the lives of others. 
                Can you think of individuals from the scriptures whose lives and testimonies declare the truth of this principle?</div>
                <textarea id="importanceOfDoctrine" class="form-control" data-ng-model="lesson.importanceOfDoctrine"></textarea>
            </div>
            
            <div class="form-group">
                <label for="applyDoctrine">4. Apply the principle.</label>
                <div class="small-text">Consider what specific action you should take to apply the doctrine or principle in your life.</div>
                <textarea id="applyDoctrine" class="form-control" data-ng-model="lesson.applyDoctrine"></textarea>
            </div>
        </form>
        
    </div>
</div>
