<div class="container">
	<h1>Lessons</h1>
	<div>
	  <div class="clearfix" data-ng-repeat="lesson in lessons ">
        <h4>
            <small><em>{{lesson.DateDisplay}}</em></small> 
            <span data-ng-if="!lesson.Number">Scripture Mastery</span>
            <a data-ng-if="lesson.Number" data-ng-href="#/lessons/{{lesson.$id}}">Lesson #{{lesson.Number}}<small> {{lesson.Title}}</small></a>
        </h4>
        <h5><span data-ng-if="lesson.team">Team {{lesson.team}} - </span> {{lesson.identifyDoctrine}}</h5>
	  </div>
	</div>	
</div>