<div class="container">
	<h1>LDS Topic Essays Project</h1>

	<p>The LDS Topic Essays Project provides you the opportunity to learn and apply the principles of Acquiring Spiritual Knowledge from the&nbsp;Doctrinal Mastery seminary program.</p>

	<h2>Expectations</h2>

	<p>Your team is expected to read and analyze your assigned topic essay presented at <a href="https://www.lds.org/topics/essays">https://www.lds.org/topics/essays</a> You are expected to create a 3 panel display&nbsp;board with information regarding your assigned topic. All materials will be provided. You are not expected to purchase any materials for your presentation.&nbsp;</p>

	<p>You will also be expected to talk about and answer any questions regarding your assigned topic during a fireside event where parents and others will be invited to attend. Please learn your topic and learn the principles of Aquiring Spiritual Knowledge so that you can help increase the faith of all those who attend your presentation.</p>

	<p>You will be expected to coordinate and communicate with your partner regarding your presentation and be present at our fireside event. Your team will be asked to briefly discuss your topic and your experience applying the principles of Acquiring Spiritual Knowledge as you learned about your assigned topic.</p>

	<p>If you have any questions please contact your super-awesome seminary teacher 239-249-8262</p>

	<h2><strong>Acquiring Spiritual Knowledge</strong></h2>

	<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
		<tbody>
			<tr>
				<td><strong>A =</strong></td>
				<td><strong>A</strong>ct in faith</td>
			</tr>
			<tr>
				<td><strong>S =</strong></td>
				<td><strong>S</strong>ee things from an eternal perspective</td>
			</tr>
			<tr>
				<td><strong>K =</strong></td>
				<td><strong>K</strong>now where to look for answers (divine sources)</td>
			</tr>
		</tbody>
	</table>

</div>
